html {
    padding: 0;
    margin: 0;
    background-color: black;
}

header {
    margin-bottom: 15px;
    color: whitesmoke;
}

h1{
    text-align: center;
}

header p {
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

.tablinks {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.tablinks:hover {
    width: 200px;
    height: 200px;
}

.button-container {
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button{
    background-color: whitesmoke;
}

.tab {
    display: flex;
    justify-content: center;
}

.tablinks img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.tablinks img:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.tabcontent{
    background-color: whitesmoke;
    margin: 1%;
    border-radius: 8px;
}

.formation-img{
    width: 100px;
    height: 100px;
}

.formation-content{
    background-color: lightgray;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin-bottom: 50px;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 5px;

}

.formation-content p{
    font-weight: bold;
}

h2, h3{  
    text-align: center;
}

h3{
    font-weight: bold;
}

.formation-inside-content{
    width: 70%;
}

.stage-content{
    margin-bottom: 15px;
    padding: 10px;
}

h2{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkgrey;
    border-radius: 36px;

}

#formation h3{
    text-align: center;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 36px;
}

.cyber-content{
    border-bottom: solid 3px darkgray;
    margin-bottom: 10px;
    padding: 10px;
}

.stage-content--img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}

.stage-content--img img{
    margin: 5px;
    border: solid 2px black;
    border-radius: 8px;
}

.stage-content--img img:hover{
    width: 80%;
    position: relative;
}

ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  
  ol p {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: darkgray;
    color: black;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    margin-bottom: 15px;
  }
  
  ol p:hover { background: #E9E4E0; }
  ol p:hover:before { transform: rotate(360deg); }
  ol p:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f9dd94;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid darkgray;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }